.chat-panel {
	min-height: 100vh;
	display: grid;
	grid-template-columns: 30% 70%;
	background-color: paleturquoise;
}

.chat-info,
.no-chat {
	height: 100%;
}

.chat-info {
	border-right: 3px solid lightblue;
}

.no-active-users {
	height: 85%;
	display: grid;
	place-content: center;
}

.no-active-users-container span {
	display: block;
	margin-bottom: 1rem;
	text-align: center;
	font-size: 2rem;
}

.no-active-users-container img {
	width: 50%;
	display: block;
	margin: 0 auto;
}

.no-chat {
	display: grid;
	place-content: center;
}

.no-chat-container span {
	display: block;
	margin-bottom: 1rem;
	text-align: center;
	font-size: 3rem;
}

.no-chat-container img {
	width: 50%;
	display: block;
	margin: 0 auto;
}

.user-container,
.receptor-container {
	height: 15%;
	border-bottom: 2px solid lightblue;
}

.messages-container {
	height: 75%;
	overflow-y: auto;
	border-bottom: 2px solid lightblue;
}

.chat-controls-container {
	height: 10%;
}

.user-info {
	height: 100%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	font-weight: bold;
}

.user-avatar {
	border-radius: 50%;
	border: 2px solid black;
	background-color: white;
}

.user-name,
.menu-container {
	height: 40%;
}

.user-name {
	display: grid;
	align-content: center;
	font-size: 1rem;
}

.menu-container {
	display: grid;
	place-content: center;
}

.user-container .user-avatar {
	width: 20%;
}

.user-container .user-name {
	width: 55%;
}

.user-container .menu-container {
	width: 10%;
}

.active-users-container {
	max-height: 85vh;
	padding: 1rem;
	overflow-y: auto;
}

.active-users-container .user-info:hover {
	cursor: pointer;
}

.active-users-container .user-info {
	margin-bottom: 1rem;
	border-bottom: 2px solid lightblue;
}

.active-users-container .user-avatar {
	width: 20%;
}

.active-users-container .user-name {
	width: 50%;
}

.receptor-container .user-avatar {
	width: 10%;
}

.receptor-container .user-name {
	width: 80%;
}

.receptor-container .menu-container {
	width: 5%;
}
