.welcome-page,
.avatar-page {
	min-height: 100vh;
	background-color: paleturquoise;
}

.welcome-page button,
.avatar-page button {
	padding: 0.25rem;
	border-style: none;
	border-radius: 1rem;
	background-color: rebeccapurple;
}

.welcome-page button:active,
.avatar-page button:active {
	outline: none;
	background-color: crimson;
}

.welcome-page {
	display: grid;
	place-items: center;
}

.welcome__title {
	width: 500px;
	height: 100px;
	display: grid;
	align-content: center;
	margin-bottom: 4rem;
	font-size: 3rem;
}

.create-name-container {
	width: 600px;
	height: 300px;
}

.form {
	height: 100%;
	padding: 2rem;
	border: 2px solid lightblue;
}

.form div {
	margin-bottom: 1rem;
}

.form-label {
	font-size: 2.5rem;
}

.form-input input {
	width: 100%;
	height: 35px;
	padding: 0.5rem;
	font-size: 1.5rem;
}

.form-btn {
	height: 30%;
	display: grid;
	place-content: center;
}

.form-btn button {
	width: 200px;
	font-size: 1.5rem;
}

.avatar__title {
	display: grid;
	place-content: center;
	height: 20vh;
	font-size: 3rem;
}

.avatar__container {
	height: 80vh;
	display: grid;
	grid-template-columns: 40% 60%;
}

.avatar__preview {
	display: grid;
	place-items: center;
}

.avatar-image {
	border-radius: 50%;
	background-color: rebeccapurple;
}

.avatar__preview .avatar-image {
	width: 350px;
	height: 350px;
}

.join-btn-container {
	width: 300px;
	height: 80px;
	display: grid;
	place-content: center;
}

.join-btn-container button {
	width: 200px;
	font-size: 2rem;
}

.join-btn-container button:focus {
	outline: none;
}

.default-avatars {
	padding: 1rem;
}

.collection {
	display: flex;
	flex-wrap: wrap;
}

.collection .avatar-image {
	width: 130px;
	height: 130px;
	margin-right: 1rem;
	margin-bottom: 2rem;
}
