.welcome-page,
.avatar-page {
  min-height: 100vh;
  background-color: #21c961;
  color: #244c4e;
}

.create-btn {
  padding: 0.25rem;
  border-style: none;
  border-radius: 1rem;
  background-color: #244c4e;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

.create-btn:active {
  outline: none;
  background-color: #147438;
}

.welcome-page {
  display: grid;
  grid-template-columns: 50vw 50vw;
}

.hero-image {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #fff;
}

.welcome__container {
  padding: 4.7vw 1vw 0 1vw;
}

.welcome__title {
  margin-bottom: 4.7vw;
}

.welcome__title h1 {
  text-align: center;
  font-size: 3.5vw;
}

.app-title {
  margin-top: 1rem;
  font-size: 4.5vw;
  text-align: center;
}

.create-name-container {
  height: 40vh;
}

.form {
  height: 100%;
  padding: 2rem;
}

.form div {
  margin-bottom: 1rem;
}

.form-label {
  font-size: 3vw;
}

.form-input input {
  width: 100%;
  height: 2.5vw;
  padding: 0.6vw;
  border: none;
  border-radius: 0.95vw;
  font-size: 1.8vw;
}

.form-input input:focus {
  outline: none;
  border: 2px solid #244c4e;
}

.form-btn {
  height: 30%;
  display: grid;
  place-content: center;
}

.form-btn button {
  width: 11vw;
  height: 2.7vw;
  border-radius: 1.5vw;
  font-size: 1.8vw;
}

.avatar__title {
  display: grid;
  place-content: center;
  height: 20vh;
  font-size: 3.6vw;
}

.avatar__container {
  height: 80vh;
  display: grid;
  grid-template-columns: 40% 60%;
}

.avatar__preview {
  display: grid;
  place-items: center;
}

.avatar-image {
  border-radius: 50%;
  background-position: center;
  background-size: cover;
  cursor: pointer;
}

.avatar__preview .avatar-image {
  width: 30vw;
  height: 30vw;
}

.join-btn-container {
  width: 20vw;
  height: 6vw;
  display: grid;
  place-items: center;
}

.join-btn-container button {
  width: 15vw;
  height: 3vw;
  display: grid;
  place-content: center;
  font-size: 2.5vw;
  border-radius: 1.5vw;
}

.join-btn-container button:focus {
  outline: none;
}

.default-avatars {
  padding: 1rem;
}

.collection {
  display: flex;
  flex-wrap: wrap;
}

.collection .avatar-image {
  width: 10vw;
  height: 10vw;
  margin-right: 1rem;
  margin-bottom: 2rem;
}

.custom-avatar-container {
  width: 10vw;
  height: 10vw;
  display: grid;
  place-content: center;
}

.custom-avatar-input {
  display: none;
}

.custom-avatar-btn {
  width: 8vw;
  height: 8vw;
  border: none;
  border-radius: 50%;
  background-color: #244c4e;
  color: #fff;
  font-size: 3.6vw;
  cursor: pointer;
}

.custom-avatar-btn:focus {
  outline: none;
}

.custom-avatar-btn:active {
  background-color: #147438;
  color: #244c4e;
}
