.avatars-collection {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.75vw;
  place-items: center;
  padding-top: 1.2vw;
}

.avatars-collection .avatar {
  width: 7vw;
  height: 7vw;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  cursor: pointer;
}

.profile-avatar-container {
  width: 7vw;
  height: 7vw;
  display: grid;
  place-items: center;
}

.profile-avatar-btn {
  width: 5vw;
  height: 5vw;
  font-size: 2vw;
}
