.avatars-collection {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  place-items: center;
  padding-top: 1rem;
}

.avatars-collection .avatar {
  width: 7vw;
  height: 7vw;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  cursor: pointer;
}
