.profile-container {
  height: 45%;
  padding: 1.2vw;
}

.profile-image,
.change-profile {
  display: grid;
  justify-items: center;
  margin-bottom: 1.2vw;
}

.change-avatar-btn,
.edit-name-btn,
.change-profile-btn:focus {
  outline: none;
}

.change-avatar-btn,
.edit-name-btn,
.change-profile-btn {
  padding: 0.6vw;
  border: none;
  cursor: pointer;
  font-size: 1vw;
}

.profile-image {
  place-content: center;
  width: 12vw;
  height: 12vw;
  margin: 0 auto 1.2vw auto;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
}

.profile-name {
  width: 80%;
  margin: 0 auto 1.2vw auto;
  display: flex;
  justify-content: center;
  font-size: 1.2vw;
}

.profile-name span {
  width: 80%;
  display: grid;
  place-content: center;
  overflow-wrap: break-word;
  word-break: break-all;
}

.change-avatar-btn {
  width: 3.8vw;
  height: 3.8vw;
  border-radius: 50%;
  font-size: 2vw;
  cursor: pointer;
}

.edit-name-btn {
  width: 2.4vw;
  height: 2.4vw;
  margin-left: 1.2vw;
  border-radius: 50%;
}

.change-profile-btn {
  width: 12vw;
  height: 2.5vw;
  border-radius: 1.2vw;
}

.settings-container {
  height: 55%;
}
