.messages {
  padding: 2.6vw 4.8vw;
  min-height: 100%;
}

.messages li {
  display: flex;
  margin-bottom: 2.6vw;
}

.message div[class^="message"] {
  min-width: 5vw;
  max-width: 30vw;
  min-height: 3vw;
  padding: 0.6vw;
  border-radius: 0.7vw;
  text-align: justify;
}

.message-send {
  margin-left: auto;
}

.message-received {
  margin-right: auto;
}

.time-label {
  font-size: 1vw;
}

.message-status-label {
  margin-left: 0.6vw;
  font-size: 1vw;
}

.seen-status-color {
  color: skyblue;
}

.select-box {
  align-self: center;
  width: 2.3vw;
  height: 2.3vw;
  margin-right: 2.6vw;
}
