.selected-messages-container,
.textbox-container {
  width: 85%;
  min-height: 3vw;
  display: grid;
  align-content: center;
  border-radius: 1.2vw;
  position: relative;
}

.textbox-placeholder {
  height: 1.4vw;
  position: absolute;
  top: 0.8vw;
  left: 0.75vw;
  z-index: 1;
  font-size: 1.2vw;
}

.textbox-input {
  min-height: 1.5vw;
  max-height: 12vh;
  margin: 0 0.75vw;
  padding: 0.75vw 0.75vw 0.75vw 0;
  font-size: 1.2vw;
  overflow-wrap: break-word;
  overflow-y: auto;
}

.textbox-input::-webkit-scrollbar {
  width: 0.4vw;
}

.textbox-input::-webkit-scrollbar-track {
  background: #e4d3cf;
}

.textbox-input::-webkit-scrollbar-thumb {
  background: #536162;
}

.selected-messages {
  display: flex;
  align-items: center;
  margin-left: 2.4vw;
  font-size: 1.2vw;
}

.delete-messages-btn {
  width: 2.6vw;
  height: 2.6vw;
  display: grid;
  place-content: center;
  margin-left: 0.6vw;
  border: none;
  border-radius: 50%;
  background: none;
  cursor: pointer;
  font-size: 1.8vw;
  color: inherit;
}

.delete-messages-btn:hover {
  color: red;
}
