.theme-container {
  height: 100%;
  padding-top: 12vw;
}

.theme-container div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.2vw;
}

.theme-container label {
  font-size: 1.8vw;
}

.theme-container input {
  margin-left: 0.6vw;
  width: 1.5vw;
  height: 1.5vw;
}
