.name-settings-container {
	height: 100%;
	padding-top: 3rem;
	padding-left: 2rem;
	padding-right: 2rem;
	position: relative;
}

.name-settings {
	display: flex;
}

.name-settings button {
	width: 30px;
	height: 30px;
	display: grid;
	place-content: center;
	margin-left: 0.5rem;
	border: none;
	border-radius: 50%;
	font-size: 1.5rem;
	cursor: pointer;
}

.name-settings button:focus {
	outline: none;
}

.name-settings button:active {
	background-color: coral;
}

.change-name-input {
	width: 70%;
	height: 30px;
	padding-left: 0.5rem;
}
