.name-settings-container {
  height: 100%;
  padding-top: 3.6vw;
  padding-left: 2.4vw;
  padding-right: 2.4vw;
  position: relative;
}

.name-settings {
  display: flex;
}

.name-settings button {
  width: 2.4vw;
  height: 2.4vw;
  display: grid;
  place-content: center;
  margin-left: 0.6vw;
  border: none;
  border-radius: 50%;
  font-size: 1.8vw;
  cursor: pointer;
}

.name-settings button:focus {
  outline: none;
}

.change-name-input {
  width: 70%;
  height: 2.4vw;
  padding-left: 0.6vw;
  border: none;
  border-radius: 1.2vw;
  font-size: 1.2vw;
}

.change-name-input:focus {
  outline: none;
}
