.friend-container .user-avatar {
  width: 7vh;
  height: 7vh;
}

.friend-container .user-name {
  width: 80%;
}

.friend-container .action-label {
  font-size: 1vw;
  font-weight: normal;
}

.friend-container .menu-container {
  width: 5%;
}
