.emoji-btn,
.voice-note-btn {
  width: 5%;
  height: 3vw;
  display: grid;
  place-content: center;
  border-radius: 50%;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 2.4vw;
  color: inherit;
}

.emoji-btn,
.textbox-input,
.textbox-container,
.voice-note-btn,
.recorder-btn-container button,
.delete-messages-btn:focus {
  outline: none;
}
